#container-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title {
    width: 30%;
    margin-right: 10px;
}

.btn {
    background-color: var(--primary-color);
    height: auto;
    width: max-content;
    padding: 20px;
    color: white;
    margin: 10px;
}

    .btn:hover {
        color: white;
        background-color: #0264ceff;
    }

.input-form {
    width: 100%;
}
