/*the code belows is for error messaage box*/
.list-error {
    position: absolute;
    right: 5px;
}

.error-container {
    position: relative;
    width: 20rem;
    margin: 10px 0;
    background-color: #0094ff4d;
    box-shadow: 0 2px 4px #808080;
    border-radius: 10px;
    padding: 5px;
}

.title-error {
    color: red;
    font-weight: bold;
}

.error-mesasage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/*the code belows is for register form*/
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form {
    width: 100%;
    justify-content: space-evenly;
}

.submit-btn{
    width:auto;
    padding:10px 15px;
    border:none;
    background-color:var(--primary-color);
    border-radius:5px;
    color:white;
}

@media (min-width:650px) {
    .form {
        justify-content: center;
        flex-wrap: wrap;
    }
}
