.container-navbar {
    width: 210px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

    .container-navbar .title {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        margin: 0 10px;
    }


    .container-navbar .info-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

.info-group .title a {
    text-decoration: none;
    color: white;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.account {
    text-decoration: none;
    color: white;
}

.info-control {
    padding: 5px;
    margin: 5px;
}

.thumbnail {
    width: 60px;
    height: auto;
    transition: width 0.5s;
    border-radius: 50px;
}

    .thumbnail:hover {
        width: 80px;
    }

.account-name {
    font-weight: bold;
}

/*the code below is for navigation class*/
.navigation {
    margin: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


    .navigation ::deep .item-link {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 10px;
        padding: 10px;
        height: 3rem;
        line-height: 3rem;
        border-radius: 10px;
        text-decoration: none;
        background-color: none;
    }

    .navigation:first-of-type {
        padding: 1rem;
    }

    .navigation:last-of-type {
        padding: 1rem;
    }

    .navigation ::deep .item-link:active {
        background-color: rgb(255, 255, 255, 0.73);
    }

    .navigation ::deep .item-link:hover {
        background-color: rgba(115, 99, 120, 0.72);
    }

.icon {
    margin-right: 1rem;
    height: inherit;
}
